@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to World of Jokes !</h1>
    <p>This is the headquarters of funniest jokes on earth ! enjoy </a>.</p>
</div>
